body {
    background: linear-gradient(50deg, #E38E7D, #571204);
}

h1 {
    font-size: 80px;
    margin-top: 100px;
    color: black;
    text-align: center;
}

#container {
    text-align: center;
}

#inputText[type=text] {
    height: 20px;
    width: 500px;
    background-color: black;
    border-radius: 20px 0px 0px 20px;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 50px;
}

#inputText:focus {
    outline: none;
}

#clickButton {
    height: 40px;
    width: 100px;
    border-radius: 0px 20px 20px 0px;
    border: none;
}

#clickButton:hover {
    background-color: #336583;
}

#clickButton:active {

    transform: translateY(4px);
}