body {
    background: lightblue;
}

.div-container {
    /* background-color: #571204; */
    height: 10vh;
    margin-top: 100px;
}

.h1 {
    margin-top: 100px;
}

#userInput {
    width: 500px;
}

#dueDate {
    height: 35px;
    cursor: pointer;
    width: 160px;
}