body {
    background: lightblue;
}

.div-container {
    /* background-color: #571204; */
    height: 10vh;
    margin-top: 100px;
}

.div-container2 {
    /* background-color: cadetblue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1 {
    margin-top: 100px;
}

#userInput {
    width: 500px;
}

#dueDate {
    height: 32px;
    cursor: pointer;
    width: 120px;
}